In [1]:
# Imports
import pandas as pd
import pyodbc
import sqlalchemy
from sqlalchemy import create_engine
import urllib
import numpy as np

df_backup = pd.read_csv("./Updates/STG_ZLLW_Metro_MedianSalePrice_AllHomes_Smooth.txt", sep = "\t")
df_backup.to_csv("./Backups/STG_ZLLW_Metro_MedianSalePrice_AllHomes_Smooth.txt", sep="\t")

In [2]:
df = pd.read_csv("http://files.zillowstatic.com/research/public_v2/median_sale_price/Metro_median_sale_price_uc_SFRCondo_smoothed_month.csv")

In [4]:
df

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,...,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31
0,102001,0,United States,Country,NaN,196942.0,198275.0,200133.0,201667.0,202000.0,...,256500.0,257833.0,257333.0,257967.0,259633.0,263967.0,265607.0,268107.0,273773.0,280667.0
1,394913,1,"New York, NY",Msa,NY,NaN,NaN,NaN,NaN,NaN,...,423979.0,421479.0,420995.0,422250.0,422250.0,426250.0,429983.0,438317.0,442733.0,449417.0
2,753899,2,"Los Angeles-Long Beach-Anaheim, CA",Msa,CA,503000.0,495667.0,489000.0,480667.0,468333.0,...,650000.0,651667.0,653333.0,656000.0,664000.0,667333.0,664667.0,665500.0,680500.0,705500.0
3,394463,3,"Chicago, IL",Msa,IL,248333.0,248333.0,251333.0,254500.0,256167.0,...,232417.0,230750.0,228083.0,226000.0,232000.0,244333.0,253000.0,255000.0,255667.0,262000.0
4,394514,4,"Dallas-Fort Worth, TX",Msa,TX,150483.0,154132.0,156278.0,158745.0,159430.0,...,270000.0,271667.0,270000.0,271300.0,272967.0,279633.0,281667.0,285000.0,290000.0,296667.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,394586,504,"Faribault, MN",Msa,MN,171408.0,187675.0,191042.0,194167.0,195167.0,...,241832.0,239333.0,234317.0,230550.0,235717.0,245150.0,258083.0,262244.0,270994.0,270661.0
117,394309,527,"Albemarle, NC",Msa,NC,121917.0,120417.0,124083.0,125833.0,124000.0,...,176167.0,180833.0,173500.0,181000.0,172333.0,176333.0,170667.0,181333.0,186367.0,189033.0
118,394742,595,"Kerrville, TX",Msa,TX,174692.0,170025.0,176375.0,172067.0,178233.0,...,263667.0,271667.0,254833.0,266083.0,273333.0,275693.0,286026.0,281743.0,283738.0,281821.0
119,395091,641,"Shelbyville, TN",Msa,TN,97000.0,102333.0,107917.0,108667.0,110000.0,...,193425.0,196817.0,194665.0,189148.0,183815.0,184633.0,196033.0,195367.0,203050.0,199333.0
120,395230,672,"Wilmington, OH",Msa,OH,106305.0,119444.0,118875.0,119439.0,121972.0,...,138000.0,136000.0,136800.0,137283.0,134650.0,134167.0,135183.0,145650.0,154500.0,161633.0

In [7]:
# Filter to NC
df_nc = df[df["StateName"] == "NC"]

In [8]:
df_nc

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-04-30,2008-05-31,2008-06-30,2008-07-31,2008-08-31,...,2019-11-30,2019-12-31,2020-01-31,2020-02-29,2020-03-31,2020-04-30,2020-05-31,2020-06-30,2020-07-31,2020-08-31
24,394458,24,"Charlotte, NC",Msa,NC,174815.0,175815.0,177083.0,181431.0,182764.0,...,253083.0,254417.0,252750.0,254333.0,257000.0,265000.0,265333.0,267000.0,271333.0,281333.0
48,395012,48,"Raleigh, NC",Msa,NC,197417.0,200833.0,205667.0,211667.0,211583.0,...,288833.0,291000.0,288667.0,290500.0,291667.0,299000.0,300500.0,301000.0,302333.0,307667.0
73,394648,73,"Greensboro, NC",Msa,NC,140000.0,140000.0,142667.0,143667.0,145167.0,...,164667.0,164667.0,160333.0,162000.0,165833.0,172167.0,172833.0,176000.0,181417.0,187417.0
81,395235,81,"Winston-Salem, NC",Msa,NC,135333.0,138333.0,142272.0,145439.0,143772.0,...,170667.0,172333.0,169667.0,165667.0,167167.0,177250.0,183583.0,188500.0,192750.0,196083.0
96,394549,104,"Durham, NC",Msa,NC,195167.0,196833.0,197083.0,194583.0,194917.0,...,281833.0,286833.0,286667.0,284333.0,293333.0,300000.0,304000.0,300000.0,300000.0,308333.0
113,394546,343,"Dunn, NC",Msa,NC,161833.0,161667.0,168000.0,164167.0,160083.0,...,201633.0,202833.0,200833.0,196833.0,195000.0,200583.0,204583.0,210250.0,212667.0,217633.0
117,394309,527,"Albemarle, NC",Msa,NC,121917.0,120417.0,124083.0,125833.0,124000.0,...,176167.0,180833.0,173500.0,181000.0,172333.0,176333.0,170667.0,181333.0,186367.0,189033.0